<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
    dt {
      color:white;
    }

    dd {
      color:yellow;
    }
      body {

      }
      body{
        position: relative;
        background:#3b3b3b;
        font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
      }

      .hl-centered {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body class="hl-centered">


    <div
      id="bulbContainer"
      style="width:100%; height:100%; text-align:center;">
      <i class="fa fa-lightbulb-o fa-5x" style="color:black; font-size:1500%;" aria-hidden="true"></i>
      <h3 style="display:none;" >Off</h3>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/socket.io-client/1.3.2/socket.io.min.js"></script>
    <script>
      var bulbMeta = {
          color:'<%- color %>'.replace(/["]/g,""),
          deviceId:'<%= deviceId %>',
          path: '<%= path %>'
      };

      //Cached element references
      var bulbContainer = $('#bulbContainer');
      var icon = bulbContainer.find( 'i' );
      var text = bulbContainer.find( 'h3' )
      var title = $('title');

      //App State
      var state = 'off';

      var states = {
        on : {
          bulb:{
            color: bulbMeta.color,
          },
          text:{
            text:'On'
          }
        },
        off: {
          bulb:{
            color:'black'
          },
          text:{
            text:'Off'
          }
        }
      };

      setState('off');

      var socket = io();

      socket.on('initialized',function(stuff){
        console.log(stuff)
      })

      socket.on('update', function (data) {
        console.log('state update: ', data)
        setState(data.state ? 'on': 'off');
        //socket.emit('my other event', { state: 'data' });
      });

      function setState( newState ){
        var stateMeta = states[ newState ]
        icon.css('color', stateMeta.bulb.color );
        text.text( stateMeta.text.text );
        title.text('LightBulb - <%= path %> '+ stateMeta.text.text)
        state = newState;
      }

      function toggleState(){
        if(state == "off"){
          setState('on')
        } else {
          setState('off')
        }
      }

    </script>
  </body>
</html>
